<section class="users">
  <div class="guest">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <div class="guest-image">
      <div class="copyright">
        <h2 class="left">Browse and view recipes as a guest and Sign Up</h2>
        <p><%= link_to "See Recipes", recipes_path, class: "section2-button" %></p>
      </div>
    </div>
  </div>
  <div class="account">
    <h3 class="midrow">Sign in to your account</h3>
    <div class="user-image">
      <div class="copyright">
        <h2 class="left">Create new recipes, share food experiences and more!</h2>
        <p><%= link_to "Log In", login_path, class: "section2-button" %></p>
      </div>
    </div>
  </div>
</section>

<section class="styles">
  <h1>Styles</h1>
  <div class="container-images">
    <div class="first-line">
      <div class="sushi-image">
        <%= link_to "Japanese", login_path, class: "styles-button" %>
      </div>
      <div class="vegeterian-image">
       <%= link_to "Vegeterian", login_path, class: "styles-button" %>
      </div>
    </div>
    <div class="second-line">
      <div class="italian-image">
        <%= link_to "Italian", login_path, class: "styles-button" %>
      </div>
      <div class="more-image">
        <%= link_to " &More", login_path, class: "styles-button" %>
      </div>
    </div>
  </div>
</section>