<section class="row section2">
  <div class="col-lg-5 col-lg-offset-1">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <div class="guest-image">
      <div class="copyright">
        <h2 class="left">Browse and view recipes as a guest and Sign Up</h2>
        <p><%= link_to "See Recipes", recipes_path, class: "section2-button" %></p>
      </div>
    </div>
    
  </div>
  
  <div class="col-lg-5 col-lg-offset-1">
    <h3 class="midrow">Sign in to your account</h3>
    <div class="user-image">
      <div class="copyright">
        <h2 class="left">Create new recipes, share food experiences and more!</h2>
        <p><%= link_to "Log In", login_path, class: "section2-button" %></p>
      </div>
    </div>
  </div>
</section>

<section class="styles">
  <h1>Styles</h1>
  <div class="styles-images">
    <div>
      <%= image_tag "sushi.svg", class: "style-button" %>
      <%= link_to "Log In", login_path, class: "section2-button" %></p>
    </div>
    <%= image_tag "sushi.svg", class: "style-button" %>
    <%= image_tag "pasta.svg", class: "style-button" %>
    <%= image_tag "vegetarian.svg", class: "style-button" %>
    <%= image_tag "more.svg", class: "style-button" %>
  </div>
</section>